GEMS_FEATURES_TIF=data/raw/gems-geodawn-numerical-features.tif
GEMS_LABELS_TIF=data/raw/existing_faults.tif
GEMS_SAMPLE_SUBMISSION_TIF=data/raw/example_submission.tif
GEMS_DEM_LINKS_JSON=data/raw/tnm_items.json
